<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>Weathertime</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id='date'></div>
    <div id='time-row'>
      <span id="action"><img src="/stretch.svg"></span>
      <div id="time"></div>
    </div>
    <div id='weather'></div>
    <div id='alumni'><b>Alumni: </b>Greg(1.24.14), Josh, Tristin, Flo, Ashley, Cale, Jeff, Breaux, Cezar, Jacob(7.18.14), Trevor(1.7.16), Joe(7.20.16)</div>
    <div>
      <a class='small-text' href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
    </div>

    <script src='/javascripts/vendor/moment.min.js'></script>
    <script src='/javascripts/vendor/zepto.min.js'></script>
    <script src='/javascripts/clock.js'></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66661236-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
